
<div jqm>
  <div id="contenidoCategorias" flex ng-controller="categoriasCtrl">
    <md-content>

      <div layout="column" layout-align="center center" style="padding:40px">
        <div layout="column" layout-align="center center" style="height: 10px;">
          <md-select ng-change="loadPersonas(categoria.ID)" placeholder="Seleccionar Categoría" ng-model="categoria" md-on-open="loadCategorias()" style="min-width: 200px;">
            <md-option ng-value="categoria" ng-repeat="categoria in categorias">{{categoria.nombre}}</md-option>
          </md-select>
          <!--<p class="md-caption">You have assigned the task to: {{ $scope.personas ? $scope.personas.length : 'No one yet' }}</p>-->
          <p ng-hide="personas.length == 0" class="md-caption">Cantidad de jugadores en la categoria {{personas.length}}</p>
        </div>
      </div>

      <md-list id="listaPersonas">
        <md-list-item ng-repeat="persona in personas" ng-click="goToPerson(person.ID, $event)" style="min-width: 200px;">
          <img ng-if="!persona.foto" alt="{{ persona.name }}" src="images/icons/users81.svg" class="md-avatar" />
          <img ng-if="persona.foto" alt="{{ persona.name }}" ng-src="data:image/png;base64,{{ persona.foto }}" class="md-avatar" />
          <p>{{ persona.apellido }}, {{ persona.nombre }}</p>
        </md-list-item>
      </md-list>

    </md-content>
  </div>
</div>