<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BuildWebCompiler" version="1.0.74" targetFramework="mdd8" userInstalled="true" />
  <package id="jQuery" version="1.9.0" userInstalled="true" />
  <package id="Twitter.Bootstrap.Less" version="3.3.5" userInstalled="true" />
</packages>