<div jqm>
  <div id="header" data-role="header" data-position="fixed" data-theme="e">
    <h1>SSD - Club Argentino de Rugby</h1>
  </div>
  <div data-role="content" ng-controller="loginController" data-theme="e">
    Usuario : <input type="text" id="userName" ng-model="userName"><br>
    Clave  : <input type="password" id="password" ng-model="password"><br>
    <a href="#" data-role="button" data-inline="true" id="submitBtn" ng-click="onSubmit()">Enviar</a>
    <a href="#" data-role="button" data-inline="true" id="resetBtn" ng-click="onReset()">Limpiar</a>
  </div>
  <div data-role="footer" data-position="fixed" data-theme="e">
    <h2>&copy; 2015 FLB - Sistemas</h2>
  </div>
</div>